fieldset {
  display: grid;
  grid-template-columns: 220px 100px;
  width: 320px;
  padding: 0;
  border: none;
  overflow: hidden;
  margin: 20px 0;
  box-shadow: 0 5px 0 #6683;
  border-radius: 10px;
}

fieldset legend {
  display: none;
}

fieldset input {
  font-weight: bold;
  padding: 10px;
  text-align: right;
}

fieldset button,
fieldset input {
  width: auto;
  height: 60px;
  border-radius: 0;
  border: solid 1px #ccc;
  padding: 10px;
  color: #333;
}

fieldset button {
  background: #f9f9f9;
}

fieldset button:hover,
fieldset input:hover {
  background: #efefef;
  transition: all 200ms;
}

fieldset input:focus {
  background: #fff;
}

fieldset .number {
  border-top-left-radius: 10px;
  font-size: 36px;
}

fieldset .currency-button {
  border-top-right-radius: 10px;
  text-align: center;
  font-size: 22px;
  border-left: 0;
}

fieldset .currency-button .current-value {
  padding-right: 22px;
}

fieldset .unit-button {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 0;
  grid-column: -1 / 1;
  text-align: center;
  font-size: 22px;
}

fieldset .button {
  display: grid;
  grid-template-areas: "stack";
  align-items: center;
}

fieldset .button .current-value {
  grid-area: stack;
  text-align: center;
}

fieldset .button .chevron {
  grid-area: stack;
  justify-self: end;
}
