.language-form {
  font-weight: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

/* This is a little bit "cute" -- the label is "Language" and the ":" is added via this line of CSS */
/* I'm using the > selector to avoid potentially putting colons everywhere in the language select dropdown*/
.language-form > label::after {
  content: ":";
}

.select-button {
  width: auto;
  border-radius: 0;
  border: none;
  padding: 10px;
  color: #333;
  border: none;
  background: #f9f9f9;
  font-weight: normal;
}

.select-button:hover {
  background: #efefef;
  transition: all 200ms;
}

.select-button {
  display: grid;
  grid-template-areas: "stack";
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(36, 36, 36, 0.2) 0 0 10px;
}

.select-button .current-value {
  grid-area: stack;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 5px;
  padding-right: 22px;
}

.select-button .chevron {
  grid-area: stack;
  justify-self: end;
}

.language-select {
  box-shadow: none;
  border: solid 1px #ccc;
  background: none;
  padding: 5px 10px;
}

.language-popover {
  background: #fff;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(204 20% 88%);
  display: grid;
}

.select-list-content {
  grid-area: 1/1;
}

.select-list-content.fake {
  color: #fff;
  background-color: hsl(204 100% 40%);
  clip-path: xywh(
    0 var(--selected-item-offset-top) 100% var(--selected-item-offset-height)
  );
  transition: clip-path 200ms ease-out;
}
