.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.label {
  padding-left: 1rem;
}

fieldset .popover {
  z-index: 50;
  display: flex;
  flex-direction: column;
  overflow: auto;
  overscroll-behavior: contain;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  color: black;
  padding-top: 0px;
  max-height: min(var(--popover-available-height, 480px), 480px);
  background-color: white;
  width: 320px;
}

.select-item {
  display: flex;
  cursor: default;
  scroll-margin: 0.5rem;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  outline: none !important;
  width: 100%;
  scroll-margin-top: 92px;
}

.currency-popover.placement-bottom-end {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 5px 0 #6683;
}

.currency-popover.placement-top-end {
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select-item[aria-disabled="true"] {
  opacity: 0.5;
}

.select-item[data-active-item] {
  background-color: hsl(204 100% 40%);
  color: white;
}

.combobox-wrapper {
  position: sticky;
  top: 0;
  right: 0;
  background-color: inherit;
  z-index: 20;
  width: 100%;
}

.combobox {
  height: 2.5rem;
  width: 100%;
  border-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.5rem;
  border-bottom: solid 1px #ccc;
  color: black;
}

.combobox:hover {
  background: #efefef;
  transition: all 200ms;
}

.currency-popover .combobox::placeholder {
  color: #333;
  font-style: italic;
  font-weight: normal;
}

.popover {
  transition-property: transform;
  transition-timing-function: linear;
  transition-duration: 950ms;
  transform: translateY(calc(-1 * var(--popover-available-height) - 5px));
}

.popover[data-enter] {
  transition-property: transform;
  transform: translateY(0);
}

.currency-button + div {
  overflow: hidden;
  padding-bottom: 5px;
}
