/* Everywhere! */
.popover {
  opacity: 0;
  transform: scale(0.2);
  transition:
    transform ease-out 150ms,
    opacity ease-out 250ms;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  z-index: 50;
  overflow: auto;
  overscroll-behavior: contain;
  border-radius: 10px;
  color: black;
  max-height: min(var(--popover-available-height, 480px), 480px);
  transform-origin: var(--popover-transform-origin, top right);
  background-color: #fff;
}

.popover[data-enter] {
  transition:
    transform cubic-bezier(0.39, 1.56, 0.64, 1.2) 150ms,
    opacity ease-out 250ms;
  opacity: 1;
  transform: scale(1);
}

.select-item {
  display: flex;
  cursor: default;
  scroll-margin: 0.5rem;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  outline: none !important;
  width: 100%;
  scroll-margin-top: 92px;
}

.select-item[data-active-item],
.select-item.selected[data-active-item] {
  background-color: hsl(204 100% 40%);
  color: white;
}

.select-item.selected {
  background: #eee;
}

.combobox-wrapper {
  position: sticky;
  top: 0;
  right: 0;
  background-color: inherit;
  z-index: 20;
  width: 100%;
}

.combobox {
  height: 2.5rem;
  width: 100%;
  border-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.5rem;
  border-bottom: solid 1px #ccc;
  color: black;
}

.combobox:hover {
  background: #efefef;
  transition: all 200ms;
}

.popover .combobox::placeholder {
  color: #333;
  font-style: italic;
  font-weight: normal;
}

/* Just for Currency Select */
.currency-popover {
  width: 320px;
}

.combobox-wrapper input {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: solid 1px #ccc;
}
