footer nav {
  margin-bottom: 20px;
}

footer ul {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

footer a:hover .link-icon {
  color: #666;
}
