.operations {
}

.operations li {
    width: 100%;
    display: grid;
    margin-bottom: 5px;
    grid-template-columns: 15px 1fr 2fr;
    column-gap: 10px;
}

.operator {
    vertical-align: top;
}

.operand {
    vertical-align: top;
    text-overflow: ellipsis;
    overflow: hidden;
    /* word-break: break-all; */
}

.operation-description {
    text-align: right;
}