.details {
  transition: opacity 200ms;
  opacity: 0;
}

.details.visible {
  opacity: 1;
}

.details label {
  font-weight: bold;
}

.details li {
  width: 100%;
  margin-bottom: 1em;
  font-size: 18px;
}

.details label {
  display: block;
}

.details-button {
  text-decoration: underline;
  margin-bottom: 1em;
}
