.operations {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.5em;
}

.operations tr {
    margin: 5px 0;
}

.operations td {
    /* border: solid 1px; */
}

.operations caption {
    font-weight: bold;
    text-transform: capitalize;
    text-align: left;
}

.operator {
    vertical-align: top;
    width: 5%;
}

.operand {
    vertical-align: top;
    text-overflow: ellipsis;
    overflow: hidden;
    /* word-break: break-all; */
    width: 35%;
}

.operation-description {
    text-align: right;
    width: 60%;
}