fieldset {
  display: grid;
  grid-template-columns: 200px 120px;
  width: 320px;
  padding: 0;
  border: none;
  overflow: hidden;
  margin: 20px 0;
}

fieldset legend {
  font-size: 24px;
}

fieldset input {
  font-weight: bold;
  padding: 10px;
  text-align: right;
}

fieldset input,
fieldset select {
  width: auto;
  height: 60px;
  border-radius: 0;
  border: none;
  padding: 10px;
  font-size: 36px;
}

fieldset select {
  font-size: 22px;
  background: #f9f9f9;
  cursor: pointer;
}

fieldset .number {
  border-top-left-radius: 10px;
  border: 2px solid #ccc;
}

fieldset .currency {
  border-top-right-radius: 10px;
  border: 2px solid #ccc;
  border-left: none;
  text-align: center;
}

fieldset .unit {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid #ccc;
  border-top: none;
  grid-column: -1 / 1;
  text-align: center;
}

label {
  color: #333;
  font-size: 18px;
  font-weight: bold;
}