fieldset {
  display: grid;
  grid-template-columns: 220px 100px;
  width: 320px;
  padding: 0;
  border: none;
  overflow: hidden;
  margin: 20px 0;
  box-shadow: rgba(36, 36, 36, 0.2) 0 0 10px;
  border-radius: 10px;
}

fieldset legend {
  display: none;
}

fieldset input {
  font-weight: bold;
  padding: 10px;
  text-align: right;
}

fieldset .currency-button,
fieldset input,
fieldset select {
  width: auto;
  height: 60px;
  border-radius: 0;
  border: none;
  padding: 10px;
  color: #333;
}

fieldset .currency-button,
fieldset button,
fieldset select {
  background: #f9f9f9;
  cursor: pointer;
}

fieldset .currency-button:hover,
fieldset input:hover,
fieldset select:hover {
  background: #efefef;
  transition: all 200ms;
}

fieldset input:focus {
  background: #fff;
}

fieldset .number {
  border-top-left-radius: 10px;
  border: none;
  font-size: 36px;
}

fieldset .currency-button {
  border-top-right-radius: 10px;
  border: none;
  border-left: none;
  text-align: center;
  font-size: 22px;
  border-left: solid 2px #e9e9e9;
}

fieldset .unit {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  border-top: solid 2px #e9e9e9;
  grid-column: -1 / 1;
  text-align: center;
  font-size: 22px;
}
