.details {
  display: none;
  transition: display 1s allow-discrete;
}

.details.visible {
  display: block;
}

.details dt {
  display: none;
}

.details.visible div {
  display: block;
  opacity: 1;
  transition:
    opacity 200ms ease-out calc(var(--i) * 50ms),
    display 1s allow-discrete;
}

.details div {
  transition:
    opacity 200ms ease-out calc((4 - var(--i)) * 50ms),
    display 350ms allow-discrete;
  opacity: 0;
  width: 100%;
  margin-bottom: 1em;
  display: none;
}

.details dt {
  font-weight: bold;
  display: block;
}

@starting-style {
  .details.visible div {
    opacity: 0;
  }
}

.details-button {
  text-decoration: underline;
  margin-bottom: 1em;
}
