.details {
  display: none;
  transition: display 1s allow-discrete;
}

.details.visible {
  display: block;
}

.details dt {
  display: none;
}

.details.visible div {
  display: block;
  opacity: 1;
  transition:
    opacity 200ms ease-out calc(var(--i) * 50ms),
    display 1s allow-discrete;
}

.details div {
  transition:
    opacity 200ms ease-out calc((4 - var(--i)) * 50ms),
    display 350ms allow-discrete;
  opacity: 0;
  width: 100%;
  margin-bottom: 1em;
  display: none;
}

.details dt {
  font-weight: bold;
  display: block;
}

@starting-style {
  .details.visible div {
    opacity: 0;
  }
}

.details-button {
  display: grid;
  grid-template-areas: "icon text";
  align-items: center;
  justify-items: left;
  gap: 5px;
  text-decoration: underline;
  margin-bottom: 1em;
  overflow: hidden;
}

.details-button span {
  grid-area: text;
  transition:
    transform 200ms ease,
    opacity 50ms ease;
}

.details-button.details-shown #show-details-text {
  transform: translateY(100%);
  opacity: 0.2;
}

.details-button.details-shown #hide-details-text,
.details-button.details-hidden #show-details-text {
  transform: translateY(0);
  opacity: 1;
}

.details-button.details-hidden #hide-details-text {
  transform: translateY(-100%);
  opacity: 0.2;
}
